<form [formGroup]="startForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="projeto">Projeto</label>
    <input
      type="text"
      class="form-control"
      id="projeto"
      formControlName="projeto"
      aria-describedby="Projeto"
      required
    />
  </div>
  <div class="form-group">
    <label for="contrato">Contrato</label>
    <input
      type="text"
      class="form-control"
      id="contrato"
      formControlName="contrato"
      aria-describedby="Contrato"
      required
    />
  </div>
  <div class="form-group">
    <label for="partes">Partes</label>
    <input
      type="text"
      class="form-control"
      id="partes"
      formControlName="partes"
      aria-describedby="Partes"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!startForm.valid">
    Próximo
  </button>
</form>
