<div class="container">
  <app-title></app-title>
  <div class="darker">
    <div class="row">
      <div class="col-md-6">
        <h1 class="lh-1 mb-5 pb-4">Dados Adicionais</h1>
      </div>
    </div>
    <form [formGroup]="additionalDataForm" (ngSubmit)="onSubmit()">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating mb-3">
            <label for="local">Local</label>
            <input
              type="text"
              class="form-control"
              id="local"
              formControlName="local"
              aria-describedby="Local"
            />
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating mb-3">
            <label for="data">Data</label>
            <input
              type="date"
              class="form-control"
              id="data"
              formControlName="data"
              aria-describedby="Data"
            />
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md">
          <label for="diretor"
            >Gestor responsável pela validação (se aplicável)​</label
          >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="diretorResponsavel"
              formControlName="diretor"
              aria-describedby="Diretor responsável"
            />
          </div>
        </div>
        <div class="col-md">
          <label for="responsavel"
            >Responsável pela análise e preenchimento do formulário​</label
          >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="responsavelAnalise"
              formControlName="responsavel"
              aria-describedby="Responsável pela análise e preenchimento do formulário​"
            />
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <label for="comentariosAdicionais">Comentários Adicionais</label>
        <textarea
          class="form-control"
          style="height: 100px"
          id="comentariosAdicionais"
          formControlName="comentariosAdicionais"
          aria-describedby="Comentários Adicionais"
        ></textarea>
      </div>
      <button type="submit">Próximo</button>
    </form>
  </div>
</div>
