@media print {
  button {
    display: none;
  }
}

button {
  width: 170px;
  height: 35px;
  color: var(--white);
}

.bg-white {
  width: 100%;
  overflow: hidden;
}

footer {
  padding: 15px;
  color: var(--gray-500);
  font-weight: bold;
}
