<div class="splash-back">
  <div class="darker-alpha">
    <p>Olá, tudo bem?</p>
    <p>
      ​ O formulário que você acessará foi desenvolvido com base em critérios
      doutrinários de análise de risco e serve para trazer uma perspectiva
      objetiva ao seu dia a dia.
    </p>
    <p>
      Você poderá simplesmente marcar as opções mais adequadas à sua realidade,
      optando também por descrever as razões de sua resposta, caso deseje
      imprimir e arquivar o formulário. ​ ​
    </p>
    <p>
      Aproveite e não deixe de nos dar um feedback no e-mail
      explicando@governancacontratual.com.br
    </p>
    <div class="text-center">
      <button routerLink="/start">Iniciar a análise</button>
    </div>
  </div>
</div>
