<div class="container">
  <app-title></app-title>
  <div class="darker-alpha vertical-center">
    <p>A partir de agora, você pode optar por dois caminhos: </p>
    <p>
      1 - Verificar desde já a análise de risco feita com base nos elementos que
      você indicou.
    </p>
    <p>
      2 - Inserir dados que individualizem o seu formulário e o contrato
      analisado, opção que será muito importante para fins de compliance
      futuramente.
    </p>
    <div class="text-center">
      <button routerLink="/risk-analysis">Análise de Risco</button>
      <button routerLink="/back">Continuar</button>
    </div>
  </div>
</div>
