.box {
  display: flex;
  flex: 1;
  justify-content: center;
  border: solid 1px #fff;

  title {
    font: Roboto normal bold;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
  }

  label {
    font: Roboto normal normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

table {
  margin-bottom: 10vh;
  width: 100%;
  th {
    font: Roboto normal bold;
    font-size: 1.5rem;
  }
  td {
    font: Roboto normal normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

table tbody {
  th {
    line-height: 4rem;
  }
}

.darker {
  h1 {
    margin-bottom: 12vh;
  }

  h2 {
    margin-bottom: 6vh;
  }
  button {
    width: 230px;
    height: 55px;
    color: var(--white);
    font-size: 1.5rem;
  }
}
