/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000000;

  --fundo: #e5e5e5;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --green-500: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.95rem;
}

button {
  background: linear-gradient(180deg, #41a2fc 0%, #378fe1 100%);
  border-radius: 100px;
}

.darker {
  background: linear-gradient(180deg, #343434 0%, #2f2f2f 100%);
  border-radius: 50px;
  padding: 40px;
}

body {
  background: var(--black);
  color: #e5e5e5;
}
